:root {
  --ak-btn-bg-color: rgb(149, 176, 229);
  --ak-btn-color: rgb(55, 65, 43);



  --ak-primary-50: #f0f4ff;
  --ak-primary-100: #d9e5ff;
  --ak-primary-200: #b7c6ff;
  --ak-primary-300: #95a8ff;
  --ak-primary-400: #7f93ff;
  --ak-primary-500: #6679ff;





}
